<body id="page-top">
    <!-- Navigation-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                Desenvolvido por:
                <h1 class="mb-0">
                    Rennã Murilo Tiedt e Richard Curbani Alfarth
                </h1>
                <h2>Angular e ASP.NET Core</h2>
                <div class="subheading mb-5">
                    Luiz Alves - Blumenau - Santa Catarina - Brasil -
                    <a href="mailto:ree_murilo@hotmail.com">ree_murilo@hotmail.com & richard.curbani.alfarth@hotmail.com</a>
                </div>

                <div class="social-icons">
                    <a class="social-icon" href="#/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-icon" href="#"><i class="fab fa-github"></i></a>
                    <a class="social-icon" href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </section>
